@media(prefers-color-scheme: dark), (prefers-color-scheme: no-preference)
{
  html
  {
    filter: invert(100%) hue-rotate(180deg)!important;
    background: black !important;

  }

  div.MYpOQ_bGBk
  {
    border-right: 1px solid black !important;
    height: 100vh !important;
  }

  div h2.fOyUs_bGBk.emyav_bGBk.emyav_dlZd.emyav_fAVi
  {
    padding-top: 20px !important;
    padding-bottom: 3px !important;
  }

  span.foKny_bGBk.foKny_UeJS.bbhNB_bGBk.bbhNB_eoMd.bbhNB_cJVF,
  div.ic-DashboardCard__header_image,
  .avatar,
  img,
  div.ctf-container,
  span.fOyUs_bGBk.fOyUs_UeJS.bbhNB_bGBk.bbhNB_eoMd.bbhNB_cJVF,
  button.fOyUs_bGBk.eHiXd_bGBk.eHiXd_ddES.eHiXd_doqw.eHiXd_bNlk.eHiXd_cuTS
  {
    -webkit-filter: invert(100%) hue-rotate(180deg)!important;
    filter: invert(100%) hue-rotate(180deg)!important;
  }

  span.foKny_bGBk.foKny_cuDs.bbhNB_bGBk.bbhNB_doqw.bbhNB_cJVF
  {
    -webkit-filter: invert(100%) hue-rotate(180deg)!important;
    filter: invert(100%) hue-rotate(180deg)!important;
  }

  div.ic-DashboardCard__header_hero,
  h2.ic-DashboardCard__header-title.ellipsis
  {
    -webkit-filter: invert(100%) hue-rotate(180deg)!important;
    filter: invert(100%) hue-rotate(180deg)!important;
  }

  .menu-item__badge,
  .fdaJD_bGBk
  {
    background: #ff0000 !important;
    color: white !important;
    font-weight: bolder !important;
  }


  img.equation_image,
  div.ic-DashboardCard__header_hero
  {
    -webkit-filter: invert(100%) hue-rotate(180deg)!important;
    filter: invert(100%) hue-rotate(180deg)!important;
  }
  div.ic-DashboardCard__header_hero
  {
    opacity: 1;
  }
  ul#menu
  {
    -webkit-filter: invert(100%) hue-rotate(180deg)!important;
    filter: invert(100%) hue-rotate(180deg)!important;
    background-color: black;
  }

  a.ic-app-header__logomark, .ic-avatar
  {
    -webkit-filter: invert(100%) hue-rotate(180deg)!important;
    filter: invert(100%) hue-rotate(180deg)!important;
    background-color: black;
  }

   div.ic-app-header__secondary-navigation
   {
     -webkit-filter: invert(100%) hue-rotate(180deg)!important;
     filter: invert(100%) hue-rotate(180deg)!important;
     background-color: black;
    }

    .ic-app-header__main-navigation
    {
      background-color: white;
    }
}



/**** NEW IN VERSION 1.1.2 (STABLE) ****/
/* fixes issues with inverted UI elements */
span.fOyUs_bGBk.fOyUs_cuDs.bbhNB_bGBk.bbhNB_doqw.bbhNB_cJVF,
iframe
{
  -webkit-filter: invert(100%) hue-rotate(180deg)!important;
  filter: invert(100%) hue-rotate(180deg)!important;
}

/* removes useless buttons nobody uses ever */
button.fOyUs_bGBk.eHiXd_bGBk.eHiXd_brAJ.eHiXd_ycrn.eHiXd_bNlk.eHiXd_cuTS
{
  display: none;
}

/* scrollbar hidden */
::-webkit-scrollbar
{
display: none !important;
}
