body {
    font-family: 'Open Sans',sans-serif;
    background-color: #000;
    color: white;
    text-align: center;
}

button
{
    background-color: #404040;
    color: white;
    border: 4px solid #404040;
    padding: 10px;
    width: 200px;
    border-radius: 50px;
    margin: 4px 2px;
    display: inline-block;
    transition: .25s ease;
    outline: none;
}

button:hover
{
    transform: scale(1.05)
}

button a
{
    float: left;
    text-decoration: none;
    text-align: center
}

::-webkit-scrollbar
{
display: none;
}

img#needsInvert
{
  filter: invert(100%) hue-rotate(180deg);
}

body {
  overscroll-behavior-y: none;
}

/* keeps text from getting too close to edge of screen */
div.faq-section
{
  margin-left: 15%;
  margin-right: 15%;
}

/* invert feedback form, set up for form.js file */
iframe#feedback-form
{
  filter: invert(100%);
  margin-top: 50%;
  transition: 1s ease;
}

/* completely center the logo */
#splash-screen-logo
{
  position: absolute;
  margin-top: -250px;
  margin-left: -250px;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 500px;
}




/* ARTICLES */
article
{

  text-align: center;
  background-color: #212121;
  color: white;
}

@media screen and (min-width: 841px)
{
  article
  {

    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 50px;

    padding-top: 2%; /* <= 45px */
    padding-bottom: 3%; /* 45px */
    padding-left: 20%; /* 200px */
    padding-right: 20%; /* 200px */
  }
}
@media screen and (max-width: 840px)
{
  article
  {
    margin-left: 75px;
    margin-right: 75px;
    margin-bottom: 50px;

    padding-top: 1%; /* <= 45px */
    padding-bottom: 2%; /* 45px */
    padding-left: 10%; /* 200px */
    padding-right: 10%; /* 200px */
  }
}


article a:visited,
article a
{
  text-decoration: none;
  color: white;
}

article a button
{
  /* prevemt selection of button content */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  font-size: 13px;
  color: white;
  background-color: #303030;
  border: none;
  outline: none;
  border-radius: 48px;
  padding: 24px;
  transition: .15s ease;
  margin: 10px;
}

article a button:hover
{
  transition: .15 ease;
  transform: scale(1.1);
}
