@media(prefers-color-scheme: dark)
{
  html
  {
    -webkit-filter: invert(100%) hue-rotate(180deg)!important;
    filter: invert(100%) hue-rotate(180deg)!important;
    background: rgb(0, 0, 0)!important;
    overflow: hidden;

  }

  img,
  div#branding,
  div#logo-wrapper
  {
    -webkit-filter: invert(100%) hue-rotate(180deg)!important;
    filter: invert(100%) hue-rotate(180deg)!important;
  }


  button#shibboleth-login-button.form-element.form-button
  {
    -webkit-filter: invert(100%) hue-rotate(180deg)!important;
    filter: invert(100%) hue-rotate(180deg)!important;
    background: green !important;
    color: white !important;
    border-radius: 40px;
  }



  button:hover
  {
     transform: scale(1.04) !important;
  }


  div#footer,
  div#branding,
  span#login-id-details.glyphicon.glyphicon-info-sign
  {
    display: none !important;
    visibility: hidden !important;
  }

  header
  {
    -webkit-filter: invert(100%) hue-rotate(180deg)!important;
    filter: invert(100%) hue-rotate(180deg)!important;
    background: green !important;
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
  }


  div#page-wrapper
  {
    transform: scale(1.05) !important;
    margin-bottom: 500px !important;
  }


  div#logo-wrapper
  {
    margin-left: 305px !important;
  }


  label[for="username"]:before
  {
    content:'Email';
    font-size: 15px !important;
  }

  label[for="password"]:before
  {
    content:'Password';
    font-size: 15px !important;
  }

  label
  {
    font-size: 0 !important;
  }


  div.logout-content
  {
    text-align: center !important;
  }
}


@media(prefers-color-scheme: no-preference)
{
  html
  {
    -webkit-filter: invert(100%) hue-rotate(180deg)!important;
    filter: invert(100%) hue-rotate(180deg)!important;
    background: rgb(0, 0, 0)!important;
    overflow: hidden;

  }

  img,
  div#branding,
  div#logo-wrapper
  {
    -webkit-filter: invert(100%) hue-rotate(180deg)!important;
    filter: invert(100%) hue-rotate(180deg)!important;
  }


  button#shibboleth-login-button.form-element.form-button
  {
    -webkit-filter: invert(100%) hue-rotate(180deg)!important;
    filter: invert(100%) hue-rotate(180deg)!important;
    background: green !important;
    color: white !important;
    border-radius: 40px;
  }



  button:hover
  {
     transform: scale(1.04) !important;
  }


  div#footer,
  div#branding,
  span#login-id-details.glyphicon.glyphicon-info-sign
  {
    display: none !important;
    visibility: hidden !important;
  }

  header
  {
    -webkit-filter: invert(100%) hue-rotate(180deg)!important;
    filter: invert(100%) hue-rotate(180deg)!important;
    background: green !important;
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
  }


  div#page-wrapper
  {
    transform: scale(1.05) !important;
    margin-bottom: 500px !important;
  }


  div#logo-wrapper
  {
    margin-left: 305px !important;
  }


  label[for="username"]:before
  {
    content:'Email';
    font-size: 15px !important;
  }

  label[for="password"]:before
  {
    content:'Password';
    font-size: 15px !important;
  }

  label
  {
    font-size: 0 !important;
  }

  div.logout-content
  {
    text-align: center !important;
  }
}
