html
{
  -webkit-filter: invert(100%) hue-rotate(180deg)!important;
  filter: invert(100%) hue-rotate(180deg)!important;
  background: #FFF !important;
}

img,
div#branding,
div#logo-wrapper,
iframe#duo_iframe
{
  -webkit-filter: invert(100%) hue-rotate(180deg)!important;
  filter: invert(100%) hue-rotate(180deg)!important;
}

input#username.form-element.form-field,
input#password.form-element.form-field
{
  -webkit-filter: invert(100%) hue-rotate(180deg)!important;
  filter: invert(100%) hue-rotate(180deg)!important;
  background: #121212;
  background-color: #121212;
  border: 1px solid #AAA;
  color: white;
}

input#username.form-element.form-field:focus,
input#password.form-element.form-field:focus
{
  background: #212121;
  background-color: #212121;
  outline: none;
  border: 1px solid white;
}


button#shibboleth-login-button.form-element.form-button
{
  -webkit-filter: invert(100%) hue-rotate(180deg)!important;
  filter: invert(100%) hue-rotate(180deg)!important;
  background: #212121 !important;
  transition: .5s  ease !important;
  background-color: #212121 !important;
  color: white !important;
  border: 1px solid white;
}



button#shibboleth-login-button.form-element.form-button:hover
{
  -webkit-filter: invert(100%) hue-rotate(180deg)!important;
  filter: invert(100%) hue-rotate(180deg)!important;
  background-color: #00703c !important;
}


div#footer,
div#branding,
span#login-id-details.glyphicon.glyphicon-info-sign
{
  display: none !important;
  visibility: hidden !important;
}

header
{
  -webkit-filter: invert(100%) hue-rotate(180deg)!important;
  filter: invert(100%) hue-rotate(180deg)!important;
  background: #202020 !important;
  border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important;
}


div#page-wrapper
{
  transform: scale(1.05) !important;
  margin-bottom: 500px !important;
}


div#logo-wrapper
{
  margin-left: 305px !important;
}


label[for="username"]:before
{
  content:'Email';
  font-size: 15px !important;
}

label[for="password"]:before
{
  content:'Password';
  font-size: 15px !important;
}

label
{
  font-size: 0 !important;
}


div.logout-content
{
  text-align: center !important;
}

div#slideshow img
{
  /*filter: grayscale(100%) brightness(150%) !important;*/

  box-sizing: border-box; !important;
  content: url("https://marissa.page/canvasdarkmode/res/uncc_entrance.jpg") !important;
}
