/*
html,
body,
section,
div.route-container.zybook-chapter-section-page.no-margin-left
{
  background: black !important;
  background-color: black !important;
  color: white !important;
}

header.top-toolbar,
ul.bread-crumbs,
li.bread-crumb,
button#ember1426.zb-button.grey.icon-button-with-title.left.ember-view
{
  background: #303030 !important;
  background-color: #303030 !important;
  color: white !important;
}

li.bread-crumb:hover,
button#ember1426.zb-button.grey.icon-button-with-title.left.ember-view:hover,
button#ember1426.zb-button.grey.icon-button-with-title.left.ember-view i:hover
{
  color: orange !important;
}


i#ember908.zb-icon.grey.material-icons.med.ember-view,
button#ember1426.zb-button.grey.icon-button-with-title.left.ember-view i
{
  color: white !important;
}
*/
