
html
{
  -webkit-filter: invert(100%) hue-rotate(180deg)!important;
}


a.ember-view,
div.catalog-take-class-modal.zb-modal.ember-view,
section.find-zybook-section
{
  -webkit-filter: invert(100%) hue-rotate(180deg)!important;
}


div.zb-modal-content
{
  background-color: black !important;
  color: white !important;
  border: 2px solid white !important;
}
div.zb-modal-content p.body-text,
div.zb-modal-content h1
{
  color: white !important;
}
